.searchedUser {
    cursor: pointer;
    padding: 5px 0 5px 3px;
    transition: 0.5s all;
}

.searchedUser:hover {
    background-color: #d5dccc !important;
}

.searchedUser:focus {
    background-color: #d5d0cc;
    outline: none;
}